{% extends 'base.html.twig' %}
{% block title %}Hello ChambreController!{% endblock %}

{% block body %}
    <div class="container-fluid  bg-dark text-white p-3">
        <h1>Liste des Etudiants <i class="fa fa-graduation-cap" aria-hidden="true"></i></h1>
        <p><a href="{{ path('create-etudiant') }}">Ajouter un Etudiant <i class="fa fa-user-plus" aria-hidden="true"></i></a></p>
        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">Matricule</th>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Tel</th>
                <th scope="col">Adresse</th>
                <th scope="col">Type</th>
                <th scope="col">Chambre</th>
                <th scope="col">Nom Dept.</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for etudiant in etudiants %}
            <tr>

                <td>{{ etudiant.matricule }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.email }}</td>
                <td>{{ etudiant.tel }}</td>
                <td>{{ etudiant.adresse }}</td>
                <td>{{ etudiant.type }}</td>
                <td>{% if etudiant.chambre.numChambre is defined %}{{ etudiant.chambre.numChambre }}{% endif %}</td>
                <td>{{ etudiant.departement.nomDepartement }}</td>
                <td><a class="btn btn-primary" href="{{ path('update-etudiant',{'id':etudiant.id}) }}">Edit</a></td>
                <td><a class="btn btn-danger " href="{{ path('delete_etudiant',{'id':etudiant.id}) }}">Delete</a></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
            {{ knp_pagination_render(etudiants) }}
        </div>

    </div>
{% endblock %}
